*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    position: relative;
}
.nav,.food{
    position: relative;
}
.nav,.food img{
    width: 100%;
    height: auto;
    display: flex;
}
.nav,.left,.right{
     display: flex;
     gap: 10px;
     padding: 15px;
     position:absolute; 
     top: 0;
}
i{
    margin-top: 10px;
}
.login i{
    margin-bottom: 10px;
}
h1{
    font-weight: normal;
    font-family: UberMove, sans-serif;
}
.right{
    margin-left: 600%;
}
.login{
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    font-style: unset;
    text-align: center;
    background-color: rgb(247, 242, 242);   
}
.signup{
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    font-style: unset;
    text-align: center;
    background-color: rgb(10, 10, 10);
    color: rgb(242, 240, 240);     
}
.container h1{
    font-weight: 700;
    font-size: 52px;
    font-family: UberMove, sans-serif; 
    position: absolute;
    top: 0;
    padding-top: 20%;
    margin-left: 60px;
 }
 /*.search-container, .box1,.box2{
    display: flex;
    /* align-items: center;
    text-align: center;
    gap: 10px;
 }
 .Box-1{
    border: 1px solid #e4a9a9;
    background-color: #fff;
    color: #000;
    width: 450px;
    padding: 12px;
    box-sizing: border-box;
 }
 .Box-2{
    border: 1px solid #e4a9a9;
    background-color: #fff;
    color: #000;
    width: 170px;
    padding: 12px;
    box-sizing: border-box;
 }
 .search-btn{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    width: 120px;
    padding: 12px;
    border-radius: 10px;
 }*/

/*section*/
.main{
    display: flex;
    margin-top: 40px;
    gap: 24px;
}
.box1 img{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    position: relative;
}
.box1 h2{
    font-size: 30px;
    color: black;
    margin-top: 30px;
    font-family: ubermove , sans-serif;
}
.box1 a{
    color: black;
    font-size: 20px;
}
/*first section*/
.content{
    width: 100%;
    margin-top: 100px;
    color: black;
}
.left-1,.right-2{
    gap: 20px;
    padding: 25px;
    position: absolute;
    font-size: 30px;
    display: flex;
    font-family: ubermove , sans-serif;
}
.flex-content {
    padding: 0 40px;
}
.flex-content .left-1 {
    justify-content: space-between;
    flex-wrap: wrap;
    position: static;
    padding: 25px 0;
}
.flex-content .right-2 {
    display: flex;
    margin-left: 0;
    position: static;
    padding: 0;
}
.right-2{
    margin-left: 300%;
    color: black;
    font-size: 20px;
    align-items: center;
}
.contury-detail {
    padding: 0 40px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}
.contury-detail .country-parent {
    width: 25%;
}
.contury-detail a {
    text-decoration: none;
    color: #000;
}
/*footer*/
.footer-parent {
    border-top: 1px solid #E2E2E2;
    margin-top: 80px;
    padding: 70px 80px;
}
.footer-container {
    padding: 0 40px;
    max-width: 1280px;
    margin: 0 auto;
}
.footer-parent svg {
    width: 16px;
    height: 16px;
}
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.column.one {
    width: 50%;
}
.column.two {
    width: 25%;
}
.column.three {
    width: 25%;
}
.column ul li {
    list-style: none;
    margin-bottom: 16px;
}
.column ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
.column.one img {
    margin-bottom: 60px;
}
.column.one .footer-app img {
    margin: 0;
}
.footer-app {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.footer-bottom {
    border-top: 1px solid #e2e2e2;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-bottom .column.one {
    width: auto;
}
.footer-bottom .column.two {
    width: auto;
}
.column-links {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}   
a.links {
    text-decoration: none;
    color: #000;
}
a.links {
    text-decoration: none;
    color: #000;
}
.socoal-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.copyright-column {
    width: auto;
    max-width: 840px;
    margin-left: auto;
    margin-top: 20px;
}
.footer-copyright {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copyright a {
    text-decoration: none;
    color: #000;
}